$('#noEventNotic').hide();
$('#allEvents').prepend("<%= j render(partial: 'event_card', locals: {event: @event} ) %>")
$('#eventsList').remove();

var content = "";
content += "<div class='alert alert-success fade in'>";
content += "<a href='#' class='close' data-dismiss='alert'>&times;</a>";
content += "<p>Evènement ajouter !</p>";
content += "</div>";

$('#allEvents').prepend( content );