

<div id="freshstartEvent">

  <h3> Evénement Freshstart  </h3>
  
  <% if @eventsfreshAdded.blank?  %>
    <p id="noEventNotic"> Il n'y pas encore d'évènement Freshstart Importer </p>
  <% end %>

  <% if @eventsfreshAdded.present?  %>
    <% @eventsfreshAdded.each do |event| %>
      <%= render partial: "event_card", locals: {event: event} %>
    <% end %>
  <% end %>

</div>

<h3> Evénement personnel  </h3>
<% if @events.blank? %>
  <p> Il n'y pas encore d'évènement  </p>
<% end %>


<% @events.each do |event| %>
  <%= render partial: "event_card", locals: {event: event} %>
<% end %>



<script>
//dateRangePicker
  /*
    $('#filterDateEvent').dateRangePicker({
        startOfWeek: 'monday',
        separator : ' ~ ',
        format: 'DD/MM/YYYY',
        autoClose: true,
        time: {
            enabled: false
        }
    });
    */
</script>
