<% if @events.blank? %>
  <p> Il n'y pas encore d'évènement </p>
<% else %>

  <div id="freshstartEvent">

    <h3> Evénement Freshstart  </h3>

  </div>

  <h3> Evénement personnel  </h3>


  <% @events.each do |event| %>
    <%= render partial: "event_card", locals: {event: event} %>
  <% end %>

<% end %>
