body.picto-page {
    font-family: 'Open Sans', sans-serif;
    padding-top: 90px;
    padding-bottom: 20px;
    background: #ffffff;
    /* enable absolute positioning */
    /* style icon */
    /* align icon */
    /* add padding  */
}

body.picto-page h1 {
    text-align: center;
    color: #222222;
}

body.picto-page .navbar-inverse {
    border-bottom: 4px solid #d9d9d9;
    color: white;
    margin-bottom: 0;
}

body.picto-page .navbar-brand {
    height: 70px;
    background: #f99b1c;
}

body.picto-page .navbar-brand:hover {
    background: #f99b1c;
}

body.picto-page .navbar-right {
    margin-top: 25px;
    line-height: 27px;
    margin-right: 20px;
}

body.picto-page .navbar-right img {
    margin-left: 10px;
    margin-right: 10px;
}

body.picto-page .caret {
    color: #aaaaaa;
}

body.picto-page .filtreForm {
    margin-top: 5px;
    text-align: center;
}

span#alertSupp{
    display: none;
    color: red;
}

.btn-orange {
    font-size: 19px;
    border-radius: 150px;
    background: #f99b1c;
    color: white;
    outline: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px solid transparent;
}

.btn-orange:hover,
.btn-orange:visited,
.btn-orange:focus,
.btn-orange:active {
    background: #ef8e0c;
    color: white;
}

.btn-orange-small{
    font-size: 15px;
    border-radius: 150px;
    background: #f99b1c;
    color: white;
    outline: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px solid transparent;
}

.btn-orange-small:hover,
.btn-orange-small:visited,
.btn-orange-small:focus,
.btn-orange-small:active {
    background: #ef8e0c;
    color: white;
    text-decoration: none;
}

.btn-grey {
    font-size: 19px;
    border-radius: 150px;
    background: #808080;
    color: white;
    outline: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-grey:hover,
.btn-grey:visited,
.btn-grey:focus,
.btn-grey:active {
    background: #736e6e;
    color: white;
}

.btn-grey-small {
    font-size: 15px;
    border-radius: 150px;
    background: #808080;
    color: white;
    outline: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px solid transparent;
}
a.btn-grey-small:hover,
a.btn-grey-small:visited,
a.btn-grey-small:focus,
a.btn-grey-small:active {
    text-decoration: none;
    color: #ffffff;
}

.btn-white-small{
    font-size: 15px;
    border-radius: 150px;
    background: #ffffff;
    color: #cccccc;
    outline: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #cccccc;
}

.btn-white-small:hover,
.btn-white-small:visited,
.btn-white-small:focus,
.btn-white-small:active {
    background: #ffffff;
    color: #cccccc;
    text-decoration: none;
}


.btn-campagne-small{
    font-size: 15px;
    border-radius: 150px;
    background: #ffffff;
    color: #cccccc;
    outline: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #cccccc;
}

.btn-campagne-small:hover,
.btn-campagne-small:visited,
.btn-campagne-small:focus,
.btn-campagne-small:active {
    background: #ffffff;
    color: #cccccc;
    text-decoration: none;
}

/* body.picto-page .filtreForm span {
    color: #aaaaaa;
    font-size: 22px;
} */

p.eventTabsActions{
    overflow: hidden;
}

body.picto-page .filtreForm select, body.picto-page .filtreForm input {
    border-radius: 100px;
    background: #e7e7e7;
}

body.picto-page .filtreForm input[type="submit"] {
    background: #ef8e0c;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 0px solid transparent;
}

body.picto-page .filterDateEvent{
    width: 230px;
}
body.picto-page #departement{
    width: 100px;
}
body.picto-page #course{
    width: 100px;
}

body.picto-page .filterDateEvent::placeholder {
    color: #555555;
    opacity: 1; 
}

body.picto-page .filterDateEvent:-ms-input-placeholder { 
    color: #555555;
}

body.picto-page .filterDateEvent::-ms-input-placeholder { 
    color: #555555;
}

body.picto-page .filtreForm  .input-lg{
    padding: 10px 13px;
}

body.picto-page .eventRow {
    margin-bottom: 43px;
    padding: 40px 70px;
    background: #f2f2f2;
}


body.picto-page .eventRow .editionBox {
    background: #fafafa;
    margin: 5px;
    width: 32%;
    padding: 10px 20px;
}

body.picto-page .eventRow .editionBox h2.courseDate {
    font-size: 24px;
    overflow: hidden;
}

body.picto-page .eventRow .editionBox h2.courseDate img {
    margin-top: 8px;
    float: right;
}

body.picto-page .eventRow .editionBox .courseType,
body.picto-page .eventRow .editionBox .courseName{
    font-size: 13px;
    color: #666666;
    line-height: 17px;
}

body.picto-page .eventRow .editionBox .dateEdition{
    font-size: 15px;
    color: #000000;
    line-height: 19px;
}

body.picto-page .eventRow .editionBox .inProgress {
    background-image: linear-gradient(to right, #d17902, #f6981a);
    color: white;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 25px;
    padding: 10px;
}

body.picto-page .eventRow .editionBox .finishProgress {
    background-color: #b4b4b4;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 25px;
    color: white;
    padding: 10px;
}

body.picto-page .eventRow .editionBox .statisticsCourse {
    background: #ffffff;
    text-align: center;
    padding: 7px;
}

body.picto-page .eventRow .editionBox .statisticsCourse li {
    color: #888888;
    text-transform: uppercase;
    font-size: 14px;
}

body.picto-page .eventRow .editionBox .statisticsCourse li span {
    color: #222222;
    font-size: 16px;
}

body.picto-page .eventRow .eventControl {
    margin-bottom: 20px;
}

body.picto-page .eventRow .eventControl h3 {
    font-size: 23px;
    color: #222222;
}

body.picto-page .eventRow .eventControl span {
    font-size: 12px;
    color: #888888;
}

body.picto-page .eventRow .eventControl .btn {
    border-radius: 100px;
    border-width: 2px;
}

body.picto-page .breadcrumb{
    padding-left: 0;
    font-size: 20px;
    color: #777777;
    font-weight: bold;
    background: transparent;
}
body.picto-page .breadcrumb span{
    font-size: 16px;
    font-weight: lighter;
}
body.picto-page .breadcrumb a{
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    color: #777777;
}


body.picto-page .eventRowHome{
    background: #f2f2f2;
}

body.picto-page .editionControl{
    text-align: center;
}

body.picto-page .editionControl .btn{
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

body.picto-page .searchEvent {
    margin-top: 8px;
    min-width: 500px;
    height: 44px;
    border-radius: 0;
}

body.picto-page .inner-addon {
    position: relative;
}

body.picto-page .inner-addon .glyphicon {
    position: absolute;
    padding: 13px;
    pointer-events: none;
}

body.picto-page .left-addon .glyphicon {
    left: 0px;
    color: #888888;
    top: 10px;
}

body.picto-page .right-addon .glyphicon {
    right: 0px;
    color: #888888;
    top: 10px;
}

body.picto-page .left-addon input {
    padding-left: 30px;
}

body.picto-page .right-addon input {
    padding-right: 30px;
}

body.picto-page .editEventTabs .nav-tabs {
    background: #ffffff;
    padding: 8px 50px;
    margin-bottom: 10px;
    border-bottom: 7px solid #dbdbdb;
}

body.picto-page .editEventTabs .tab-content{
    background: #ffffff;
    padding: 25px 50px;
}

body.picto-page .NewEdition{
    width: 310px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
}
body.picto-page .NewEdition h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
body.picto-page .NewEdition p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
}
body.picto-page .NewEdition select{
    font-size: 14px;
    display: inline-block;
    width: 31%;
    min-width: 90px;
    color: #cccccc;
    font-weight: 400;
}
body.picto-page .NewEdition .NewEditionAction{
    text-align: center;
}

/*=========================
===== picto edition
========================== */

body.picto-edition{
    font-family: 'PT Sans', sans-serif;
    padding-top: 70px;
}

body.picto-edition .eventRow .editionBox {
    margin: 10px 5px;
}

body.picto-edition .eventRow .editionBox {
    width: 100%;
}
.editionContent{
    padding-left: 100px;
}

body.picto-edition .eventRow .editionBox .statisticsCourse{
    background: transparent;
    text-align: left;
}

body.picto-edition .eventRow .editionBox .statisticsCourse li {
    width: 31%;
    padding: 0 10px;
}
body.picto-edition .eventRow .editionBox .statisticsCourse li.middleList{
    border-left: 3px solid #dddddd;
    border-right: 3px solid #dddddd;
}


body.picto-edition .eventRow .editionContactsBox .statisticsCourse{
    background: transparent;
    text-align: left;
}

body.picto-edition .eventRow .editionContactsBox .statisticsCourse li {
    width: 22%;
    padding: 0 10px;
}


body.picto-edition .eventRow .editionCampagnesBox .statisticsCourse li{
    width: 100%;
    padding: 0;
}
body.picto-edition .eventRow .editionCampagnesBox .statisticsCourse h3{
    margin: 15px 0 0 0;
    color: #666666;
    font-size: 20px;
}
body.picto-edition .eventRow .editionCampagnesBox .statisticsCourse li span{
    color: #b5b5b5;
    font-size: 14px;
}

body.picto-edition .eventRow .editionBox h2.courseDate {
    color: #666666;
}

.rightList{
    border-right: 3px solid #dddddd;
}



body.picto-edition .navbar-inverse{
    border-bottom: 0px solid transparent;
}

body.picto-page .leftNavBar{
    min-height: 500px;
    padding: 0;
    width: 85px;
    position: relative;
    background: #222222;
    color: white;
    text-align: center;
}

body.picto-page .leftNavBar ul li ul{
    position: absolute;
    left: 80px;
    top: 0;
    background: #222222;
    width: 80px;
    height: 100%;
    text-align: center;
    z-index: 99;
    padding-left: 2px;
    padding-right: 2px;
    /* padding-top: 90px; */
    
    -webkit-box-shadow: inset 7px 0px 5px -2px rgba(0,0,0,0.56);
    -moz-box-shadow: inset 7px 0px 5px -2px rgba(0,0,0,0.56);
    box-shadow: inset 7px 0px 5px -2px rgba(0,0,0,0.56);
    
}

body.picto-page .leftNavBar li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 55px;
    /* background: #292c30; */
    margin: 5px 0;
    line-height: 55px;
}

body.picto-page .leftNavBar ul li ul li a{
    height: 55px;
    line-height: 55px;
}

/* body.picto-page .leftNavBar li a:hover{
    background: #3f4245;
    border-left: 2px solid #f99b1b ;
} */

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

body.picto-page .leftNavBar li a img{
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

.activeBtn{
    /*background: #3f4245 !important;
    border-left: 2px solid #f99b1b ;*/
    color: #f99b1b !important ;
}

.dropDiv{
    position: relative;
    font-size: 18px;
    text-align: center;
    padding-top: 97px;
    padding-bottom: 97px;
    background: #909090;
    color: white;
    line-height: 40px;
}

.dropDiv .btn-import{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background: #f99b1c;
    color: white;
    border-radius: 30px;
    padding: 10px 100px;
    font-size: 18px;
}
.contactPara{
    font-size: 16px;
}


/*================================
Contacs page
=================================*/
body.picto-page .contactsRow{
    border: 2px solid #cccccc;
    margin: 10px 0;
}
body.picto-page .contactsRow header{
    margin-left: 50px;
}
body.picto-page .contactsRow h2{
    font-weight: 600;
}
body.picto-page .contactsRow .searchContact{
    margin-top: 25px;
    width: 95%;
    border-radius: 50px;
    border: 1px solid #cccccc;
    padding: 3px;
    outline: none;
}
body.picto-page .contactsRow table.table thead th {
    background-color: #FFFFFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

/*================================
sendEmailModal + importCsvModal + secondStepCampaign
================================*/
.sendEmailModal{
    /*max-width: 500px;*/
}
.sendEmailModal .modal-dialog.modal-small{
    width: 450px;
    margin: 30px auto;
}
.importCsvModal  .modal-footer {
    padding: 5px;
    text-align: right;
    border-top: 0px solid transparent;
}
.sendEmailModal .modal-header,
.importCsvModal .modal-header,
.eventDeleteModal .modal-header{
    text-align: center;
    border-bottom: 0px solid transparent;
}
.importCsvModal select.form-control{
    border-radius: 30px;
}
.sendEmailModal .modal-header button,
.importCsvModal .modal-header button,
.secondStepCampaign .modal-header button,
.eventDeleteModal .modal-header button{
    background: #e7e7e7;
    width: 35px;
    height: 35px;
    color: #222222;
    border-radius: 50%;
}
.importCsvModal .table thead th{
    background-color: transparent;
    color: #909090;
    text-transform: uppercase;
    font-weight: lighter;
}
.importCsvModal .table > tbody > tr > td{
    border-top: 0px solid transparent;
}
.importCsvModal .table > thead > tr > th{
    border-bottom: 0px solid transparent;
}
.sendEmailModal .modal-header h4{
    font-size: 27px;
    color: #222222;
    letter-spacing: 1.4px;
}
.sendEmailModal .modal-header p{
    font-size: 13px;
}

.sendEmailModal textarea{
    width: 100%;
    height: 150px;
    background: #eeeeee;
    color: #aaaaaa;
    border: 0px solid transparent;
    outline: none;
}
.dropDiv .selectedFile,
.sendEmailModal .selectedFile,
.importCsvModal .selectedFile{
    display: none;
}
.sendEmailModal .selectedFileShown{
    display: block;
    margin: 30px auto;
    width: 150px;
    height: 60px;
    background: #fad4a1;
    color: #000000;
    text-align: center;
    border: 0px solid transparent;
    outline: none;
}

.sendEmailModal input[type="submit"]{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background: #f99b1c;
    color: #ffffff;
    text-align: center;
    border: 0px solid transparent;
    outline: none;
    border-radius: 50px  ;
}

.importCsvModal input[type="submit"]{
    padding: 10px 25px;
    font-size: 18px;
    background: #f99b1c;
    color: #ffffff;
    text-align: center;
    border: 0px solid transparent;
    outline: none;
    border-radius: 50px  ;
}

.secondStepCampaign .modal-dialog{
    width: 80%;
    margin: 30px auto;
}

.secondStepCampaign .titleSecondModal{
    margin-left: 15px;
    line-height: 35px;
    display: block;
    float: left;
}

.secondStepCampaign .notifsCode{
    margin-left: 15px;
    line-height: 17px;
    display: block;
    float: left;
}

.secondStepCampaign .selectedfilterCampaign{
    float: left;
}

.secondStepCampaign .close {
    opacity: 0.7;
    left: 58px;
    position: relative;
}

/*=================================
= Transform checkbox to button
==================================*/
#ck-button {
    border:1px solid #D0D0D0;
    margin-top:14px;
    border-radius:50px;
    overflow:auto;
    float:left;
    background: #ffffff;
    color: #cccccc;
    text-decoration: none;
    float:left;
}

#ck-button:hover {
    margin-top:14px;
    border-radius:50px;
    overflow:auto;
    float:left;
    background: #ffffff;
    color: #cccccc;
    text-decoration: none;
}

#ck-button label {
    float:left;
    width:9em;
}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    padding-top: 7px;
}

#ck-button label input {
    position:absolute;
    display: none;
    top:-20px;
}

#ck-button input:checked + span {
    background: #ffffff;
    color: #cccccc;
    text-decoration: none;
    padding-top: 7px;
}


.grey{
    color: #cccccc;
}

/*===================
modal delete event
=================== */
.eventDeleteModal .modal-body{
    text-align: center;
}
.eventDeleteModal .modal-footer {
    border-top: 0px solid transparent;
}
.eventDeleteModal .modal-footer input[type="submit"] {
    font-size: 25px;
    display: block;
    margin: 10px auto;
    width: 300px;
    height: 60px;
    background: #f99b1c;
    color: #ffffff;
    text-align: center;
    border: 0px solid transparent;
    outline: none;
    border-radius: 50px;
}

.eventDeleteModal .modal-footer a {
    font-size: 25px;
    display: block;
    margin: 0 auto !important;
    width: 200px;
    height: 60px;
    background: #333333;
    color: #ffffff;
    text-align: center;
    border: 0px solid transparent;
    outline: none;
    border-radius: 50px;
    line-height: 50px;
}

/*========================
Search events freshstart
========================*/
.searchEventContainer{
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.btnCreateNewEventSearch{
    background: #ef8e0c;
    color: #FFFFFF;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    width: 500px;
    line-height: 30px;
}
.btnCreateNewEventSearch:hover{
    background: orange;
    color: #FFFFFF;
    text-decoration: none;
}
#eventsList{
    position: absolute;
    background: white;
    left: 16px;
    top: 61px;
    color: black;
    z-index: 9999;
    
    -webkit-box-shadow: 0px 14px 13px 6px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 14px 13px 6px rgba(0,0,0,0.21);
    box-shadow: 0px 14px 13px 6px rgba(0,0,0,0.21);
}
#eventsList li.eventItemSearch{
    font-size: 16px;
    padding: 10px 15px;
    width: 500px;
    line-height: 30px;
}
#eventsList li.eventItemSearch:hover{
    background: #eeeeee;
}
#eventsList li.eventItemSearch img{
    vertical-align: -2px;
}


.opened{
    background:url('btn-deja-vu.png') right 60px center no-repeat;
    background-size: 29px 17px; 
}
.sent{
    background:url('btn-email-envoyer.png') right 60px center no-repeat;
    background-size: 22px 16px; 
}
.blocked{
    background:url('/assets/btn-sms-email-fail.png') right 60px center no-repeat;
    background-size: 26px 22px; 
}

/*====================================================
====Circular upload percentage
====================================================*/
.progressWrapper{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 80px;
    width: auto;
    color: #ffffff;
    background: #333333;
    border-radius: 5px;
}
.dispalyTable{
    display: table;
    height: 80px;
}
.dispalyTable li{
    padding: 0 12px;
    /* border: 1px dashed gray; */
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.progressWrapper ul li:first-child{
    font-size: 15px;
    line-height: 20px;
}
.circular-progress-bar {
    position: relative;
    margin: 0 auto;
    transform: rotate(-90deg);
}

.progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-align: center;
    padding: 0px 60px;
}

.progress-percentage {
    /* font-size: 60px;
    left: 60%; */
    font-size: 14px;
    left: 50%;
    top: 28%;
    color: white;
}

.progress-text {
    left: 35%;
    color: #585858;
    font-size: 21px;
}


/*=======================================
===pictures
=======================================*/
.picturesStats{
    border:1px solid grey; padding:12px;margin-bottom:16px;
}
.picturesStats .btn-orange{
    font-size: 14px;
}
.picturesStats .btn-orange:hover{
    text-decoration: none;
}
.pictureLists{
    width: 200px;
    height: 133px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}
.searchCoureur{
    margin-top: 25px;
    width: 235px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #cccccc;
    padding: 3px;
    outline: none;
}
body.picto-page .searchCoureur::placeholder {
    color: #cccccc;
    opacity: 1; 
}

body.picto-page .searchCoureur:-ms-input-placeholder { 
    color: #cccccc;
}

body.picto-page .searchCoureur::-ms-input-placeholder { 
    color: #cccccc;
}
.orderPictures{
    margin-top: 25px;
    width: 235px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #cccccc;
    color: #cccccc;
    padding: 3px;
    outline: none;
    background-color: #FFFFFF;
}
.selctPicWrapper{
    margin-top: 45px;
    margin-bottom: 25px;
}
.selectionnerPictures{
    display: inline-block;
    line-height: 17px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #cccccc;
    padding: 8px 17px;
    font-size: 18px;
    color: #cccccc;

}


/*========================
==modalPictures
=========================*/
/* #modalPictures .row{
    padding: 0px !important;
} */
#modalPictures .modal-body{
    padding: 0px;
}
#modalPictures .col-sm-3{
    padding: 0px;
}
#modalPictures .col-sm-9{
    padding: 0px;
}
#modalPictures .thumbnail{
    height: 720px;
    overflow: hidden;
    position: relative;
}
#modalPictures .thumbnail a.arrowUp{
    z-index: 99;
    position: absolute;
    top: 0;
    right: 51%;
    font-size: 22px;
}
#modalPictures .thumbnail a.arrowDown{
    z-index: 99;
    position: absolute;
    bottom: 0;
    right: 51%;
    font-size: 22px;
}
#modalPictures img.pictureListsModal{
    display: none;
}
#modalPictures .galleryForm {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}
#modalPictures .galleryForm form label {
    font-size: 16px;
    font-weight: 400;
}
#modalPictures .galleryForm form #dossard{
    border-radius: 50px;
    width: 55px;
    text-align: center;
    height: 34px;
    outline: none;
}
#modalPictures .galleryForm .btn-grey-small,
#modalPictures .galleryForm .btn-orange-small{
    margin: 0;
}
.simplegallery .thumbnail .thumb{
    position: relative;
}
@media (min-width: 1199px) {
    #modalPictures .modal-dialog {
      width: 80%;
      max-width: 1100px;
      margin: 30px auto;
    }
}
















/*=================================================
=======dateRangePicker
==================================================*/
.date-picker{width:170px;height:25px;padding:0;border:0;line-height:25px;padding-left:10px;font-size:12px;font-family:Arial,sans-serif;font-weight:700;cursor:pointer;color:#303030;position:relative;z-index:2}.date-picker-wrapper{position:absolute;z-index:1;border:1px solid #bfbfbf;background-color:#efefef;padding:5px 12px;font-size:12px;line-height:20px;color:#aaa;font-family:Arial,sans-serif;-webkit-box-shadow:3px 3px 10px rgba(0,0,0,.5);box-shadow:3px 3px 10px rgba(0,0,0,.5);-webkit-box-sizing:initial;box-sizing:initial}.dp-clearfix{clear:both;height:0;font-size:0}.date-picker-wrapper.inline-wrapper{position:relative;-webkit-box-shadow:none;box-shadow:none;display:inline-block}.date-picker-wrapper.single-date{width:auto}.date-picker-wrapper.no-shortcuts{padding-bottom:12px}.date-picker-wrapper.no-topbar{padding-top:12px}.date-picker-wrapper .footer{font-size:11px;padding-top:3px}.date-picker-wrapper b{color:#666;font-weight:700}.date-picker-wrapper a{color:#6bb4d6;text-decoration:underline}.date-picker-wrapper .month-name{text-transform:uppercase}.date-picker-wrapper .select-wrapper{position:relative;overflow:hidden;display:inline-block;vertical-align:middle}.date-picker-wrapper .select-wrapper:hover{text-decoration:underline}.date-picker-wrapper .month-element{display:inline-block;vertical-align:middle}.date-picker-wrapper .select-wrapper select{position:absolute;margin:0;padding:0;left:0;top:-1px;font-size:inherit;font-style:inherit;font-weight:inherit;text-transform:inherit;color:inherit;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:0 0;border:0;outline:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);opacity:.01}.date-picker-wrapper .month-wrapper{border:1px solid #bfbfbf;border-radius:3px;background-color:#fff;padding:5px;cursor:default;position:relative;_overflow:hidden}.date-picker-wrapper .month-wrapper table{width:190px;float:left}.date-picker-wrapper .month-wrapper table.month2{width:190px;float:left}.date-picker-wrapper .month-wrapper table td,.date-picker-wrapper .month-wrapper table th{vertical-align:middle;text-align:center;line-height:14px;margin:0;padding:0}.date-picker-wrapper .month-wrapper table .day{padding:5px 0;line-height:1;font-size:12px;margin-bottom:1px;color:#ccc;cursor:default}.date-picker-wrapper .month-wrapper table div.day.lastMonth,.date-picker-wrapper .month-wrapper table div.day.nextMonth{color:#999;cursor:default}.date-picker-wrapper .month-wrapper table .day.checked{background-color:#9cdbf7}.date-picker-wrapper .month-wrapper table .week-name{height:20px;line-height:20px;font-weight:100;text-transform:uppercase}.date-picker-wrapper .month-wrapper table .day.has-tooltip{cursor:help!important}.date-picker-wrapper .month-wrapper table .day.has-tooltip .tooltip{white-space:nowrap}.date-picker-wrapper .time label{white-space:nowrap}.date-picker-wrapper .month-wrapper table .day.toMonth.valid{color:#333;cursor:pointer}.date-picker-wrapper .month-wrapper table .day.toMonth.hovering{background-color:#cdecfa}.date-picker-wrapper .month-wrapper table .day.lastMonth,.date-picker-wrapper .month-wrapper table .day.nextMonth{display:none}.date-picker-wrapper .month-wrapper table .day.real-today{background-color:#ffe684}.date-picker-wrapper .month-wrapper table .day.real-today.checked,.date-picker-wrapper .month-wrapper table .day.real-today.hovering{background-color:#70ccd5}.date-picker-wrapper table .caption{height:40px}.date-picker-wrapper table .caption>th:first-of-type,.date-picker-wrapper table .caption>th:last-of-type{width:27px}.date-picker-wrapper table .caption .next,.date-picker-wrapper table .caption .prev{padding:0 5px;cursor:pointer}.date-picker-wrapper table .caption .next:hover,.date-picker-wrapper table .caption .prev:hover{background-color:#ccc;color:#fff}.date-picker-wrapper .gap{position:relative;z-index:1;width:15px;height:100%;background-color:red;font-size:0;line-height:0;float:left;top:-5px;margin:0 10px -10px;visibility:hidden;height:0}.date-picker-wrapper .gap .gap-lines{height:100%;overflow:hidden}.date-picker-wrapper .gap .gap-line{height:15px;width:15px;position:relative}.date-picker-wrapper .gap .gap-line .gap-1{z-index:1;height:0;border-left:8px solid #fff;border-top:8px solid #eee;border-bottom:8px solid #eee}.date-picker-wrapper .gap .gap-line .gap-2{position:absolute;right:0;top:0;z-index:2;height:0;border-left:8px solid transparent;border-top:8px solid #fff}.date-picker-wrapper .gap .gap-line .gap-3{position:absolute;right:0;top:8px;z-index:2;height:0;border-left:8px solid transparent;border-bottom:8px solid #fff}.date-picker-wrapper .gap .gap-top-mask{width:6px;height:1px;position:absolute;top:-1px;left:1px;background-color:#eee;z-index:3}.date-picker-wrapper .gap .gap-bottom-mask{width:6px;height:1px;position:absolute;bottom:-1px;left:7px;background-color:#eee;z-index:3}.date-picker-wrapper .selected-days{display:none}.date-picker-wrapper .drp_top-bar{line-height:1.4;position:relative;padding:10px 40px 10px 0}.date-picker-wrapper .drp_top-bar .error-top,.date-picker-wrapper .drp_top-bar .normal-top{display:none}.date-picker-wrapper .drp_top-bar .default-top{display:block}.date-picker-wrapper .drp_top-bar.error .default-top{display:none}.date-picker-wrapper .drp_top-bar.error .error-top{display:block;color:red}.date-picker-wrapper .drp_top-bar.normal .default-top{display:none}.date-picker-wrapper .drp_top-bar.normal .normal-top{display:block}.date-picker-wrapper .drp_top-bar.normal .normal-top .selection-top{color:#333}.date-picker-wrapper .drp_top-bar .apply-btn{position:absolute;right:0;top:6px;padding:3px 5px;margin:0;font-size:12px;border-radius:4px;cursor:pointer;color:#d9eef7;border:solid 1px #0076a3;background:#0095cd;background:-moz-linear-gradient(top,#00adee,#0078a5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');color:#fff;line-height:initial}.date-picker-wrapper .drp_top-bar .apply-btn.disabled{cursor:pointer;color:#606060;border:solid 1px #b7b7b7;background:#fff;background:-moz-linear-gradient(top,#fff,#ededed);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed')}.date-picker-wrapper .time{position:relative}.date-picker-wrapper.single-month .time{display:block}.date-picker-wrapper .time input[type=range]{vertical-align:middle;width:129px;padding:0;margin:0;height:20px}.date-picker-wrapper .time1{width:180px;padding:0 5px;text-align:center}.time2{width:180px;padding:0 5px;text-align:center}.date-picker-wrapper .time1{float:left}.date-picker-wrapper .time2{float:right}.date-picker-wrapper .hour{text-align:right}.minute{text-align:right}.date-picker-wrapper .hide{display:none}.date-picker-wrapper .first-date-selected,.date-picker-wrapper .last-date-selected{background-color:#49e!important;color:#fff!important}.date-picker-wrapper .date-range-length-tip{position:absolute;margin-top:-4px;margin-left:-8px;-webkit-box-shadow:0 0 3px rgba(0,0,0,.3);box-shadow:0 0 3px rgba(0,0,0,.3);display:none;background-color:#ff0;padding:0 6px;border-radius:2px;font-size:12px;line-height:16px;-webkit-filter:drop-shadow(0 0 3px rgba(0, 0, 0, .3));-moz-filter:drop-shadow(0 0 3px rgba(0, 0, 0, .3));-ms-filter:drop-shadow(0 0 3px rgba(0, 0, 0, .3));-o-filter:drop-shadow(0 0 3px rgba(0, 0, 0, .3));filter:drop-shadow(0 0 3px rgba(0, 0, 0, .3))}.date-picker-wrapper .date-range-length-tip:after{content:'';position:absolute;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #ff0;left:50%;margin-left:-4px;bottom:-4px}.date-picker-wrapper.two-months.no-gap .month1 .next,.date-picker-wrapper.two-months.no-gap .month2 .prev{display:none}.date-picker-wrapper .week-number{padding:5px 0;line-height:1;font-size:12px;margin-bottom:1px;color:#999;cursor:pointer}.date-picker-wrapper .week-number.week-number-selected{color:#49e;font-weight:700}